src/main/resources/xsd/coverLetter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://ftn.uns.ac.rs/code10/cover" xmlns="http://ftn.uns.ac.rs/code10/cover">
    <xs:import namespace="http://ftn.uns.ac.rs/code10/paper" schemaLocation="paper.xsd"/>
    <xs:element name="coverLetter">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="date" type="xs:date"/>
                <xs:element name="text" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
